footer {
    background-color: #c0e6f6;
    padding: 20px 0;
    margin-top:10px;
    bottom:0
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  